

.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.count {
    font-size: 2rem;
    padding: 0.5rem 1rem;
}


.counter button {
    padding: 0.7rem 1.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.decrement {
    background-color: red;
}

.increment {
    background-color: green;
}